*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding-top: 1em;
  overflow-x: hidden;
}
img {
  display: inline-block;
  max-width: 100%;
}
.main-image {
  width: 100%;
  max-width: 700px;
  margin: auto;
}
button {
  font: inherit;
}
h1,
p {
  margin: 0;
}

.flex {
  display: flex;
}
nav {
  background-color: var(--clr-white);
  color: var(--clr-gray);
  position: absolute;
  top: 0;
  right: -100vw;
  min-height: 100vh;
  width: 55vw;
  transition: right 0.5s;
  z-index: 1;
}
ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
}
ul li {
  margin: 2em;
  margin-left: 0em;
  padding-left: 0em;
  display: block;
}
ul li span {
  margin-left: 0.9em;
}

.login {
  background-color: transparent;
  border: 0;
  color: inherit;
  font: inherit;
}
.register {
  background-color: transparent;
  border: 1px solid var(--clr-black);
  color: inherit;
  font: inherit;
}
.close-menu {
  display: block;
  margin: 1.5em;
  margin-left: auto;
}
header {
  justify-content: space-between;
  padding-inline: 0.5em;
}
.menu {
  width: 35px;
  height: 18px;
}
main {
  display: flex;
  flex-direction: column-reverse;
}
.show_break {
  display: none;
}
main > section > h1 {
  font-size: 2.2rem;
  margin: 0 auto;
  width: fit-content;
  margin-top: 1em;
  text-align: center;
}
main > section > p {
  margin-top: 1em;
  width: 100%;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5;
  color: var(--clr-gray);
  padding: 1em;
}

button {
  padding: 0.7em 1.3em;
  border-radius: 20px;
  border-color: var(--clr-gray);
  display: block;
  margin: 1.5em auto;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 1.2rem;
}

main > section > button:where(:hover, :focus) {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.client {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.client img {
  width: 80%;
}
#features-list,
#company-list {
  margin-left: 1em;
  display: none;
}
.sub-list img {
  margin-right: 1em;
}
.main-image-desktop {
  display: none;
}

@media (min-width: 928px) {
  .main-image,
  .menu,
  .close-menu {
    display: none;
  }
  .main-image-desktop {
    display: block;
  }
  header > img {
    margin-left: 3em;
  }
  nav {
    position: unset;
    min-height: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: transparent;
  }
  nav > * {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  nav > * > * {
    margin: 0;
  }
  nav > div {
    margin-left: auto;
  }
  ul {
    margin-left: 3em;
  }
  ul li {
    margin: 0;
    margin-right: 2em;
  }
  ul li span {
    margin-left: 0.2em;
  }
  li:hover,
  .login:hover,
  .register:hover {
    color: var(--clr-black);
    cursor: pointer;
  }
  .register:hover {
    border: 1.5px solid var(--clr-black);
  }

  main {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    justify-content: space-between;
  }
  main > * {
    width: 40vw;
  }
  .main-image-desktop {
    height: 70vh;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  main > section > h1 {
    font-size: 5rem;
    width: 100%;
  }

  main > section > p,
  main > section > h1 {
    text-align: left;
    padding: 0;
  }
  main > section > p {
    width: 60%;
  }
  main > section > button {
    margin: 5em 0;
  }
  section > div {
    margin-top: auto;
  }
  .show_break {
    display: unset;
  }
  .div_with_sublist {
    position: relative;
  }

  .div_with_sublist :where(#features-list, #company-list) {
    position: absolute;
    z-index: 99;
    background-color: white;
    padding: 0.5em 1em;
    padding-left: 0 !important;
    box-shadow: -2px 5px 40px -2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -2px 5px 40px -2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -2px 5px 40px -2px rgba(0, 0, 0, 0.16);
  }
  .div_with_sublist :where(#features-list, #company-list) li {
    white-space: nowrap;
    display: flex;
    gap: 1px;
    margin-block: 20px;
  }
  .div_with_sublist :where(#features-list, #company-list) ul {
    margin: 0;
  }
}
